<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <!-- Default page set karne ki zaroorat nahi agar aap direct file access kar rahe hain -->
            </files>
        </defaultDocument>
    </system.webServer>
</configuration>
